@media (max-width: 768px) {
    div {
      width: 90%; 
    }

    input[type=text],
    input[type=tel],
    input[type=password],
    select {
      width: 100%; 
    }

    button[type=submit] {
      width: 100%; 
    }
    body {
        background-color: lightgreen;
      }
  }