@media (max-width: 768px) {
    div {
      width: 90%; 
    }

    input[type=text],
    input[type=tel],
    input[type=password],
    select {
      width: 100%; 
    }

    button[type=submit] {
      width: 100%; 
    }
    body {
        background-color: lightgreen;
      }
      div{
        background-color: #f2f2f2;
      }
      div[class=container_2]{
        margin: auto;
        margin-top: 150px;
      }
  }
  
  