@media (max-width: 700px) {
    div {
      width: 100%;
    }
    
    input[type=text], select, input[type=tel], input[type=password] {
      width: 100%;
    }
    
    button[type=submit] {
      width: 100%;
    }
  }
  